!!!
%html
  %head
    %title Основные модели параллельного программирования
  %body
    .toc
      :markdown
        # Введение
        ## Книга
        ## Concurrency or Parallelism?
        # Threads and Syncronization
        # Functional programming
        # Actors
        # CSP
        # The Lambda Architecture
        # Data Parallelism