!!!
%html
  %head
    %title Основные модели параллельного программирования
  %body
    .toc
      :markdown
        # Введение
        ## Книга
        ## Concurrency or Parallelism?
        # Threads and Syncronization
        ## Суть
        ## Пример
        ## Достоинства/недостатки
        # Functional programming
        # Actors
        # CSP
        # The Lambda Architecture
        # Прочее (Data Parallelism и т.п.)
        # Выводы