!!!
%html
  %head
    %title Java 8 и функциональное программирование
  %body
    %h1 Java 8 и функциональное программирование
    %h2 Содержание
    %ol
      %li Что такое функциональное программирование, отличие от императивного?
      %li First-class функции в java, функциональные интерфейсы
      %li Способы задания функций в яве: функциональные литералы и ссылки на методы(3 типа)
      %li Как реализованы функции высшего порядка в Java 8
      %li Стримы: объектные и числовые
      %li MapReduce с помощью стримов
      %li Промежуточные (filter, limit, map, sorted, distinct) и терминальные (reduce, collect, count, forEach) операции
      %li Параллельная обработка стримов, fork-join pool, использование combiner-а
      %li Класс Optional
      %li Карринг
      %li Pattern Matching